.custom-navbar {
    background-color: #002f5d;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #ffffff;
}

.custom-navbar .nav-link:hover {
    color: #01e2c4;
}


body {
    background: #f6f9fc;
}

.page-title {
    margin: 18px 0 14px;
}

.event-hero img {
    object-fit: cover;
}

.event-image-wrapper {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 1 / 1;
}

.event-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card {
    border-radius: 1rem;
}
