/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2 {
    text-align: center;
}

/* Navigation (header) styling */
nav {
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #00344f;
    color: #fff;
}
.nav__logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto 1rem;
}
.role {
    margin-left: 10px;
}
.role-admin, .role-committee {
    font-weight: bold;
}
.nav__menu {
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}
.nav__menu a, .nav__menu a:visited {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
}
.nav__menu a:hover, .nav__menu a:focus {
    color: #00344f;
    background-color: #00e1c0;
    text-decoration: none;
}

.nav__menu a:active {
    opacity: 0.85;
}

/* Form styling (for login & register) */
form {
    text-align: center;
    display: block;
}

/* Event list styling */
.page-title {
    margin: 18px 0 14px;
}
.events-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 22px;
}
/* To be compatable with different sized screens */
@media (max-width: 1100px) {
    .events-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 850px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 520px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}
.event-card {
    display: block;
    text-decoration: none;
    color: inherit;
}
.event-thumb {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    background: #eee;
}
.event-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.event-body {
    padding-top: 10px;
}
.event-title {
    font-size: 18px;
    margin: 0 0 6px;
    line-height: 1.2;
    font-weight: 700;
}
.event-location {
    color: #00344f;
    margin: 0 0 6px;
    font-size: 14px;
}
.event-time {
    font-size: 14px;
    color: #222;
}
.event-hero {
    max-height: 420px;
    overflow: hidden;
}
.event-card-img {
    height: 200px;
    object-fit: cover;
}
.event-image-wrapper {
    width: 100%;
    max-width: 420px;
    aspect-ratio: 1 / 1;
}
.event-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
