// General styling
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

// Navigation styling
nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00344f;
    color: #fff;
}
nav a {
    text-align: right;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border: 0.2rem;
    border-radius: rem;
}
.nav__logo {
    font-size: 1.5rem;
    margin: auto 1rem;
}
.nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
}
.nav__menu a:hover {
    color: #00344f;
    background-color: #00e1c0;
}
